
@{
    Layout = null;
}

<footer>
    <div class="financity-footer-wrapper ">
        <div class="financity-footer-container financity-container clearfix">
            <div class="financity-footer-column financity-item-pdlr financity-column-15">
                <div id="text-2" class="widget widget_text financity-widget">
                    <div class="textwidget">
                        <p><img src="../images/logo.png" alt="Sairane Mortgage Logo" style="height:90px;"></p>
                        <p><!--<img src="upload/footer-logo.png" alt="">--></p>
                        <p>
                            <i class="fa fa-location-arrow" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i>&nbsp;34 Hamston, Times Avnue NY
                            <br>
                            <i class="fa fa-phone" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i>&nbsp;+1-3454-5678-77
                            <br>
                            <i class="fa fa-envelope-open-o" style="font-size: 16px;color: #ffffff;margin-right: 10px;"></i>&nbsp;sales@goodlayers.com
                        </p>
                    </div>
                </div>
            </div>


            <div class="financity-footer-column financity-item-pdlr financity-column-30">
                <div class="widget-title">
                    <h3 class="financity-widget-title">Location</h3>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.675014779191!2d79.056346174717!3d21.125518884449217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c07eaa3ff347%3A0x45d1fc0c42c9756!2sAbhinav%20Arcade!5e0!3m2!1sen!2sin!4v1729737903531!5m2!1sen!2sin" width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="financity-footer-column financity-item-pdlr financity-column-15">
                <div id="nav_menu-1" class="widget widget_nav_menu financity-widget">
                    <h3 class="financity-widget-title">Useful Links</h3>
                    <div class="menu-useful-links-container">
                        <ul id="menu-useful-links" class="menu">
                            <li class="menu-item financity-normal-menu"><a href="#aboutus">About Us</a></li>
                            <li class="menu-item financity-normal-menu"><a href="#services">Services</a></li>
                            <li class="menu-item financity-normal-menu"><a href="#">Calculator</a></li>
                            <li class="menu-item financity-normal-menu"><a href="#reviews">Reviews</a></li>
                            <li class="menu-item financity-normal-menu"><a href="#contactus">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financity-copyright-container financity-container clearfix">
        <div class="financity-item-pdlr" style="text-align:center;">Copyright @System.DateTime.Now.Year. Website Design & Developed By <a href="#" target="_blank"><strong>Coditech Innovations Pvt. Ltd</strong></a></div>
    </div>
</footer>
