@{
    Layout = null;
}
<div class="gdlr-core-pbf-wrapper award-logo-slider" style="margin: 0px 0px 0px 0px;padding: 15px 0px 15px 0px;">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7;"></div>
    <div class="owl-slider">
        <ul id="awardCarousel" class="owl-carousel list-unstyled">
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/AwardLogo/award-image1.png" alt="" width="148" height="44"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/AwardLogo/award-image2.png" alt="" width="132" height="46"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/AwardLogo/award-image3.png" alt="" width="141" height="45"></div>
            </li>
            <li class="gdlr-core-item-mglr">
                <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="~/Images/AwardLogo/award-image4.png" alt="" width="141" height="45"></div>
            </li>
        </ul>
    </div>
</div>