@{
    ViewBag.Title = "About Us";
}
<div class="financity-page-title-wrap  financity-style-custom financity-left-align">
    <div class="financity-header-transparent-substitute"></div>
    <div class="financity-page-title-overlay"></div>
    <div class="financity-page-title-container financity-container">
        <div class="financity-page-title-content financity-item-pdlr">
            <h1 class="financity-page-title" style="text-align: center;">About Us</h1>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper" style="margin:10px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 30px;"><img src="../upload/about-icon-1.png" alt="" width="70" height="60"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 20px;">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 500;letter-spacing: 0px;text-transform: none;">Why Choose Us?</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>
                                            Personalized Service: Our commitment is to deliver services meticulously tailored to your individual requirements.
                                            <br />
                                            Constant Communication: We maintain open lines of communication, ensuring you are informed and confident at every step of the loan application process.
                                            <br />
                                            Accessible Support: Have concerns or questions? We’re here for you. Count on us to be available, ready to address any queries and provide guidance whenever you need it.
                                            <br />
                                            Choose SKM Finance for a customised, attentive, and accessible lending experience tailored just for you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 26px;"><img src="../upload/about-icon-2.png" alt="" width="70" height="64"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 20px;">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 500;letter-spacing: 0px;text-transform: none;">How Can We Help?</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>At SKM, our expertise stems from years in the finance industry, including award-winning tenure as a mortgage advisor at BNZ. Since 2018, we’ve been your dedicated independent mortgage advisor, extending our services nationwide. No matter where you are in New Zealand, SKM is here to transform your financial aspirations into achievements.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-20">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 30px;"><img src="../upload/about-icon-3.png" alt="" width="61" height="61"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 20px;">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 19px;font-weight: 500;letter-spacing: 0px;text-transform: none;">Our Promise to You</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>
                                            We commit to providing personalised solutions, tailoring our services to your unique needs and aspirations.
                                            <br />
                                            We promise to maintain open and regular communication with you during every step of the loan application process.
                                            <br />
                                            We are dedicated to being there whenever you need us, ready to address any concerns or questions to ensure your confidence and peace of mind throughout your financial journey.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gdlr-core-pbf-wrapper about-section" style="margin: 0px 0px 0px 0px;padding: 110px 0px 135px 0px;" data-skin="Hp2 Column Service">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(&quot;../Images/SDM-about-us.jpg&quot;); background-size: cover; background-position: center center; height: 1000px!important; transform: translate(0px, 13.525px);" data-parallax-speed="0.1"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: -210px 0px 0px 0px;padding: 0px 0px 10px 0px;">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align">
                                <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-round" style="border-width: 0px;"><img src="/images/SKM-8.png" alt="" width="731" height="443"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                    <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 15px;font-style: normal;letter-spacing: 1px;text-transform: uppercase;color: #ffffff;">Our Little Story</span>
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 44px;font-weight: 700;letter-spacing: 0px;text-transform: none;color: #ffffff;">
                            Read The Story Behind Our Success<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-columnize-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 20px;">
                    <div class="gdlr-core-skin-divider" style="font-size: 18px;column-gap: 50px;-moz-column-gap: 50px;-webkit-column-gap: 50px;column-rule-width: 0px;-moz-column-rule-width: 0px;-webkit-column-rule-width: 0px; margin:10px;">
                        <p>
                            Namaskar / Kiaora – I am Sandeep Khanna, your friendly neighbourhood mortgage
                            adviser, based in Christchurch and proudly helping Kiwis all over Aotearoa secure their
                            first homes, grow investment portfolios, buy businesses, or finance new assets with
                            expert caring local expert advice and just the right amount of banter.
                        </p>
                        <p>
                            Originally from India, I’ve now called New Zealand home for over 20 years. Like many
                            immigrants my journey began with odd jobs, long hours, and learning everything the
                            hard way  and later stepping into the world of banking with BNZ back in end of 2017
                            After three years there — and one major leap of faith I decided to start my own mortgage
                            advisory business. No one in my family had ever run a business before, so let’s just say
                            there were a few raised eyebrows (and a few extra cups of chai). But thanks to
                            unwavering support from my whanau and community, here I am 4+ years in, running a
                            successful business that’s helped draw down close to$1.0 billion in lending since I first
                            entered banking and then into Mortgage advisory
                        </p>
                        <p>
                            I still remember the feeling of walking into a bank with more questions than answers.
                            That’s why I bring not just experience, but empathy to every conversation. I’ve walked
                            that path  from being new in a country, to working in different job roles.No one in my
                            family had ever run a business  but here we are, four years later running a company
                            that’s drawn down over $1.0 Billion in lending.
                        </p>
                        <p>
                            Along the way, I’ve been humbled to be recognised as New Zealand’s Top Mortgage
                            Adviser two years in a row, as well as a proud recipient of NZA Excellence Awards. But
                            beyond the numbers, what truly drives me is helping people especially first-home
                            buyers and new migrants navigate what can be a confusing and emotional financial
                            journey with clarity, care, and confidence.
                        </p>
                        <p>
                            Whether you’re feeling overwhelmed by home loan lingo unsure how to get started with
                            an investment, or need help structuring finance for a business dream, I’m here to guide
                            you with honesty, heart, and  some humour to keep things human.
                        </p>
                        <p>
                            When I’m not deep in spreadsheets or lender calls, you’ll probably find me playing
                            Outside work, I love watching movies, biking, playing cricket (yes, I’m a cliché), biking
                            around the Port Hills, or organising community events like the Christchurch Holi Festival
                            and Ganesh Chaturthi celebrations  because bringing people together is what I love,
                            both professionally and personally.
                        </p>
                        <p>
                            If you’re ready to make your next move whether it’s your first home, next investment, or
                            that big business dream let’s chat.
                        </p>
                        <p>
                            I promise, there’s no such thing as a silly question… except maybe asking me to pick
                            between cricket and work (spoiler: I’ll still choose clients — most of the time).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="margin: 30px 0px 0px 0px;padding: 90px 0px 10px 0px;">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/about-title-bg-team-1.png); background-repeat: no-repeat; background-position: top center;" data-parallax-speed="0"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                    <div class="gdlr-core-title-item-title-wrap ">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 46px;font-weight: 600;letter-spacing: 0px;text-transform: none;">Our Team<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                    </div>
                </div>
            </div>

            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-personnel-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-personnel-item-style-grid-with-background gdlr-core-personnel-style-grid gdlr-core-with-background gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="4" data-nav="bullet" data-nav-parent="gdlr-core-personnel-item" data-disable-autoslide="1">
                        <ul class="slides">
                            <li class="gdlr-core-item-mglr">
                                <div style="border:1px solid #ccc; border-radius:10px; overflow:hidden; width:300px;">

                                    <div class="flip-card" style="width: 100%; height: 400px; perspective: 1000px;">
                                        <div class="flip-card-inner" style="position:relative; width:100%; height:100%; transition:transform 0.6s; transform-style:preserve-3d;">
                                            <!-- Front Side -->
                                            <div class="flip-card-front" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07);">
                                                <img src="../Images/personnel-1.jpg" alt="Sandeep Khanna">
                                            </div>
                                            <!-- Back Side -->
                                            <div class="flip-card-back">
                                                <p>
                                                    Originally from India and now a proud Kiwi citizen has called New Zealand home for over 20 years. Like many immigrants I started from the very bottom think mops, midnight shifts, and more "character building" jobs than I care to count all in the name of learning the Kiwi way.
                                                </p>
                                                <p>
                                                    Fast-forward a few years (and a lot of humble hustles), I joined BNZ and spent over 3 years helping clients make sense of home loans, numbers, and bank lingo. Somewhere along the way, I picked up BNZ’s prestigious Chevron Award, recognising me as one of their top bankers nationwide. Not bad for the guy who once stacked shelves and made flat whites.
                                                </p>
                                                <p>
                                                    These days, I run my own award-winning business, Sandeep Khanna Mortgages Ltd, based in Christchurch. Since going solo have proudly settled over $1.0 billion in home and business loans, helping clients from all walks of life whether it's buying their first home, investing in property, or purchasing their dream café, truck, or warehouse.
                                                </p>
                                                <p>
                                                    I make mortgage advice simple, strategic, and human. From demystifying LVRs (without putting you to sleep), to negotiating with lenders like a mortgage whisperer I have got your back.
                                                </p>
                                                <p>
                                                    Although I’m a Cantabrian now, my advice isn’t tied to postcodes. Whether you're in Auckland, Invercargill, Tauranga or Timaru if you’re in New Zealand, We can help. My team and I regularly work with Kiwis across the country, guiding them through their first-home journey, investment property ventures, or funding their next business dream.
                                                </p>
                                                <p>
                                                    I also mentor budding mortgage advisers across NZ because good advice should spread, like butter on hot toast.
                                                </p>
                                                <p>
                                                    Let’s make your next move easier, smarter, and a little more Kiwi.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Fixed Contact Details -->
                                    <div class="contact-section">
                                        <h3>Sandeep Khanna</h3>
                                        <div class="role">Director</div>
                                        <p>
                                            <a href="tel:0212083152">021 208 3152</a><br>
                                            <a href="mailto:sandeep@skfinance.co.nz">sandeep@skfinance.co.nz</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div style="border:1px solid #ccc; border-radius:10px; overflow:hidden; width:300px;">

                                    <!-- Only Photo Flip -->
                                    <div class="flip-card" style="width:100%; height:400px; perspective:1000px;">
                                        <div class="flip-card-inner" style="position:relative; width:100%; height:100%; transition:transform 0.6s; transform-style:preserve-3d;">

                                            <!-- Front Side -->
                                            <div class="flip-card-front" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07);">
                                                <img src="../Images/personnel-2.jpg" alt="Mona Khanna" style="width:100%; height:100%; object-fit:cover;">
                                            </div>

                                            <!-- Back Side -->
                                            <div class="flip-card-back" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07); background:#f7f7f7; transform:rotateY(180deg); color:#000; padding:15px; overflow-y:auto;">
                                                <p>
                                                    Mona Khanna, Lending Associate (a.k.a. the organised engine behind the scenes) at Sandeep Khanna Mortgages Ltd(SKM), based in beautiful Christchurch. I am also a proud mum to three energetic boys so if I can handle school lunches, wrestling matches over screen time, and still make sure your loan application is spotless… you know you’re in good hands.
                                                </p>
                                                <p>
                                                    Originally from India, I’ve proudly called New Zealand home for over 20 years. Like many immigrants, I started from scratch—doing all sorts of jobs, learning the Kiwi way, and eventually working with some of the country’s biggest banks including BNZ, ANZ, and ASB. At BNZ, I am walking breathing proof that hard work, grit (and maybe a little caffeine) really does pay off.
                                                </p>
                                                <p>
                                                    After years in banking, I joined my husband in building our award-winning mortgage advisory firm. Since then, we’ve helped over 1,000 Kiwi families secure their dream homes, investment properties, and business loans settling over $1 Billion in lending along the way.
                                                </p>
                                                <p>
                                                    As the admin glue that holds the process together, I make the home loan journey less overwhelming. From explaining LVRs without needing a translator, to juggling paperwork, deadlines, and even birthday party RSVPs am here to keep it all smooth and human.
                                                </p>
                                                <p>
                                                    Whether it’s your first home, first investment, or that café, transport, asset finance you've always wanted, I bring empathy, structure, and straight-talking support plus a secret superpower the ability to smile through chaos.
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Fixed Contact Details -->
                                    <div class="contact-section" style="padding:15px; text-align:center;">
                                        <h3>Mona Khanna</h3>
                                        <div class="role" style="font-size:16px; margin-bottom:5px;">Administrative Assistant</div>
                                        <p>
                                            <a href="tel:0211012326">021 101 2326</a><br>
                                            <a href="mailto:admin@skfinance.co.nz">admin@skfinance.co.nz</a>
                                        </p>
                                    </div>

                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div style="border:1px solid #ccc; border-radius:10px; overflow:hidden; width:300px;">

                                    <!-- Only Photo Flip -->
                                    <div class="flip-card" style="width: 100%; height: 400px; perspective: 1000px;">
                                        <div class="flip-card-inner" style="position:relative; width:100%; height:100%; transition:transform 0.6s; transform-style:preserve-3d;">

                                            <!-- Front Side -->
                                            <div class="flip-card-front" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07);">
                                                <img src="../Images/personnel-3.jpg" alt="Rasleen Kaur" style="width:100%; height:100%; object-fit:cover;">
                                            </div>

                                            <!-- Back Side -->
                                            <div class="flip-card-back" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07); background:#f7f7f7; transform:rotateY(180deg); color:#000; padding:15px; overflow-y:auto;">
                                                <p>
                                                    Originally from Punjab, India, I bring a strong financial background and a genuine passion for helping people achieve their property and financial goals. I began my banking career at ANZ, where I spent 7 fulfilling years as a Home Lender across both retail and business banking.
                                                </p>
                                                <p>
                                                    In 2021, I took the next step in my journey by joining <strong>Sandeep Khanna Mortgages</strong> as a Mortgage Adviser. It’s been an absolute pleasure to work alongside my mentor, <strong>Sandeep Khanna</strong>, who has been recognised as one of <strong>New Zealand’s top mortgage advisers two years in a row.</strong> His guidance and expertise continue to inspire me every day.
                                                </p>
                                                <p>
                                                    As a mortgage adviser, I love the flexibility and range of solutions I can now offer my clients. Whether you’re buying your <strong>first home</strong>, planning an <strong>investment</strong>, purchasing a business, or needing help with a <strong>commercial loan</strong> or <strong>asset finance</strong>, I’ll work with you to find the right option and make the process as smooth as possible.
                                                </p>
                                                <p>
                                                    One of the most rewarding parts of my role is helping <strong>first home buyers</strong> turn their dreams into reality. Equally important to me is maintaining a healthy <strong>work-life balance</strong>, and I feel fortunate to have a career that allows me the <strong>flexibility to spend quality time with my kids</strong> while doing what I love.
                                                </p>
                                                <p>
                                                    If you're ready to take the next step in your homeownership or investment journey, I’d be delighted to help—<strong>get in touch today!</strong>
                                                </p>
                                                <p>
                                                    Multiple lender options and find the right fit for each person’s unique circumstances. Whether you're a first home buyer, looking to invest, planning a business purchase, or needing asset or commercial finance, I’m here to guide you every step of the way.
                                                </p>
                                                <p>
                                                    Helping first home buyers turn their dreams into reality is one of the most rewarding parts of my role. If you're planning your first purchase, an investment, or a commercial venture—reach out today and let’s make it happen.
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Fixed Contact Details -->
                                    <div class="contact-section" style="padding:15px; text-align:center;">
                                        <h3>Rasleen Kaur</h3>
                                        <div class="role" style="font-size:16px; margin-bottom:5px;">Financial Advisor</div>
                                        <p>
                                            <a href="tel:0224049679">022 404 9679</a><br>
                                            <a href="mailto:rasleen@skfinance.co.nz">rasleen@skfinance.co.nz</a>
                                        </p>
                                    </div>

                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div style="border:1px solid #ccc; border-radius:10px; overflow:hidden; width:300px;">

                                    <!-- Only Photo Flip -->
                                    <div class="flip-card" style="width: 100%; height: 380px; perspective: 1000px;">
                                        <div class="flip-card-inner" style="position:relative; width:100%; height:100%; transition:transform 0.6s; transform-style:preserve-3d;">

                                            <!-- Front Side -->
                                            <div class="flip-card-front" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07);">
                                                <img src="../Images/personnel-4.jpg" alt="Hitesh Sharma" style="width:100%; height:100%; object-fit:cover;">
                                            </div>

                                            <!-- Back Side -->
                                            <div class="flip-card-back" style="position:absolute; width:100%; height:100%; backface-visibility:hidden; border-radius:10px; box-shadow:0px 0px 40px rgba(28,28,28,0.07); background:#f7f7f7; transform:rotateY(180deg); color:#000; padding:15px; overflow-y:auto;">
                                                <p>
                                                    If Christchurch had a heartbeat, chances are you'd find Hitesh Sharma right there in the rhythm — helping families buy homes by day and lighting up the city with festivals by night. A trusted face in the financial world, Hitesh is a key member of the SK Finance team, known for his no-nonsense mortgage advice and community spirit.
                                                </p>
                                                <p>
                                                    <strong>What Hitesh brings to the table:</strong><br>
                                                    • Expert advice on first homes, business loans, and investment properties<br>
                                                    • Years of experience in retail, food, marketing, public engagement sectors<br>
                                                    • The ability to juggle spreadsheets and stage lights — event expert and community connector
                                                </p>
                                                <p>
                                                    As Hitesh says: <em>"Numbers should make sense, and so should community."</em>
                                                </p>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Fixed Contact Details -->
                                    <div class="contact-section" style="padding:15px; text-align:center;">
                                        <h3>Hitesh Sharma</h3>
                                        <div class="role" style="font-size:16px; margin-bottom:5px;">Development Acquisition Manager</div>
                                        <p>
                                            <a href="tel:0211100444">021 110 0444</a><br>
                                            <a href="mailto:hitesh@skfinance.co.nz">hitesh@skfinance.co.nz</a>
                                        </p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="padding: 55px 0px 0px 0px; margin:10px;" data-skin="Purple Personnel">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" data-sync-height="half-height">
                    <div class="gdlr-core-pbf-background-wrap">
                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(../Images/shutterstock_417862237.jpg);background-size: cover;background-position: center;" data-parallax-speed="0.2"></div>
                    </div>
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-30">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 85px 0px 25px 60px;" data-sync-height="half-height">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="../upload/about-icon-7.png" alt="" width="46" height="46"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;text-transform: none;">No Hidden Fees.</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>As a home buyer, the main cost you’re probably focusing on is the price of the property. We do not charge any hidden fees, or log any hours.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="../upload/about-icon-8.png" alt="" width="45" height="45"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;text-transform: none;">Free Property Appraisals.</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>When selling your house, a FREE property appraisal is a good point to start. Rely on the experts to evaluate your property and avoid any pitfalls.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-column-service-icon-left gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 10px;margin-right: 30px;"><img src="../upload/about-icon-9.png" alt="" width="46" height="46"></div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                    <div class="gdlr-core-column-service-title-wrap">
                                        <h3 class="gdlr-core-column-service-title" style="font-size: 22px;font-weight: 600;text-transform: none;">Detail Oriented Approach.</h3>
                                    </div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                        <p>Rely on Sandeep to get you favourable deals while liaising with lenders. His team is organised and attention to every detail is their point of difference.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .flip-card {
        background-color: transparent;
        width: 250px; /* Card width */
        height: 250px; /* Card height */
        perspective: 1000px; /* 3D perspective */
        border-radius: 10px;
        overflow: hidden; /* prevents content overflow */
    }

    /* Flip inner wrapper */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Front & Back */
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px 10px 0 0;
    }

    /* Front Side Image */
    .flip-card-front {
        display: flex;
    }

        .flip-card-front img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

    /* Back Side Content */
    .flip-card-back {
        background-color: #f7f7f7;
        color: #000;
        transform: rotateY(180deg);
        padding: 15px;
        font-size: 14px;
        box-sizing: border-box;
        overflow-y: auto; /* scroll if content exceeds card height */
        display: block; /* important for scrolling */
    }

        /* Optional: custom scrollbar for back content */
        .flip-card-back::-webkit-scrollbar {
            width: 6px;
        }

        .flip-card-back::-webkit-scrollbar-thumb {
            background-color: rgba(0,0,0,0.2);
            border-radius: 3px;
        }

    /* Contact section below flip card */
    .contact-section {
        background: #fff;
        padding: 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 250px; /* match card width */
        box-sizing: border-box;
    }

        .contact-section h3 {
            margin: 0;
            font-size: 21px;
            font-weight: 600;
        }

        .contact-section .role {
            font-size: 15px;
            color: #666;
        }

        .contact-section p {
            margin-top: 8px;
            font-size: 14px;
            line-height: 1.5;
        }

        .contact-section a {
            color: red;
            text-decoration: none;
        }

    .flip-card-front img {
        width: 100%;
        height: auto;
        display: block;
    }
</style>