@{
    ViewBag.Title = "FAQ";
}
<div class="financity-page-title-wrap  financity-style-custom financity-left-align">
    <div class="financity-header-transparent-substitute"></div>
    <div class="financity-page-title-overlay"></div>
    <div class="financity-page-title-container financity-container">
        <div class="financity-page-title-content financity-item-pdlr">
            <h1 class="financity-page-title" style="text-align: center;">FAQ</h1>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="margin:10px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                <div class="gdlr-core-pbf-element">
                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px;">
                        <div class="gdlr-core-text-box-item-content">
                            <p>
                                A mortgage adviser helps you find the best home loan tailored to your needs. We
                                compare multiple lenders, explain your options in simple terms, and guide you from
                                pre-approval to settlement—handling all the paperwork along the way.
                            </p>
                            <p>
                                As your adviser we give you access to multiple lenders, better rates, and smarter
                                structures (like offset accounts or revolving credit) that your bank might not mention.
                                More choice = more savings.
                            </p>
                            <p><strong>Buying my first home -Where do I start?</strong></p>
                            <p>
                                Start with a pre-approval. We’ll help you figure out how much you can borrow, check
                                your eligibility for First Home Grants or KiwiSaver withdrawals, and explain the process
                                from start to finish.
                            </p>
                            <p>
                                <strong>How much deposit do I need?</strong>
                            </p>
                            <p>
                                Most banks require a 20% deposit but most of the Banks allow as little as 5–10%,
                                especially for first-home buyers. We'll help you understand your options based on your
                                income, credit, and property type.
                            </p>
                            <p><strong>Can I use my KiwiSaver to buy a house?</strong> </p>
                            <p>
                                Yes! If you've been contributing to KiwiSaver for at least 3 years, you may be eligible to
                                withdraw funds for your first home and apply for the First Home Grant. We can guide you
                                through both.
                            </p>
                            <p><strong>Self-Employed Applicants</strong> </p>
                            <p><strong>Been self-employed for less than a year—will a bank lend?</strong> </p>
                            <p>
                                Traditional banks usually require <strong>2 years of financials</strong>, but don’t worry there are
                                options. Some <strong>banks and lenders</strong> will consider your application with as little as
                                <strong>6 months of trading history</strong>, especially if you have:
                            </p>
                            <p>
                                <ul>
                                    <li>Prior experience in the same industry</li>
                                    <li>A stable or growing income stream</li>
                                    <li>Deposit and clean credit</li>
                                </ul>
                            </p>
                            <p>
                                We work with these lenders regularly and can help present your case clearly to improve
                                your chances.
                            </p>
                            <p><strong>My fixed rate is expiring—should I refix or refinance?</strong></p>
                            <p>
                                It depends on your goals and the market. We’ll review your options across lenders and
                                help you decide whether it’s better to stay put or move for a better deal. You may also
                                consider restructuring for flexibility or faster repayments.
                            </p>
                            <p><strong>Can I consolidate other debts into my mortgage? </strong></p>
                            <p>
                                Absolutely. Rolling higher-interest loans or credit cards into your mortgage can reduce
                                your total repayments—but it’s important to understand the long-term cost. We’ll help
                                you weigh the pros and cons.
                            </p>
                            <p><strong>Canterbury Region -</strong></p>
                            <p><strong>How does zoning or earthquake risk affect my loan?</strong></p>
                            <p>
                                We’ll work with banks that understand Christchurch’s unique landscape and still offer
                                competitive lending.
                            </p>
                            <br />
                            <p><strong>Application Process</strong></p>
                            <p><strong>What documents do I need for pre-approval?</strong></p>
                            <p>ID and proof of residency</p>
                            <p>Income proof (payslips or business financials) </p>
                            <p>Business Financials – Finalized accounts for recent financial year </p>
                            <p>Recent bank statements (3–6 months)</p>
                            <p>IRD summary of earning for last 2  Financial years and recent 12 months </p>
                            <p>KiwiSaver balances or savings statements/ Gift letter</p>
                            <p>Details of any debts or loans</p>
                            <br />
                            <p><strong>How long does mortgage approval take?</strong></p>
                            <p>
                                It varies. Pre-approvals can take 5 -10 working days once we have all your documents.
                                Fast-track options are available if you're making an offer soon.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
