@{
    ViewBag.Title = "Clients’ Testimonials";
}
<div class="financity-page-title-wrap  financity-style-custom financity-left-align">
    <div class="financity-header-transparent-substitute"></div>
    <div class="financity-page-title-overlay"></div>
    <div class="financity-page-title-container financity-container">
        <div class="financity-page-title-content financity-item-pdlr">
            <h1 class="financity-page-title" style="text-align: center;">Clients’ Testimonials</h1>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="margin:10px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-left">
                    <div class="gdlr-core-testimonial-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20 gdlr-core-column-first">
                        <div class="gdlr-core-testimonial clearfix">
                            <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">“</div>
                            <div class="gdlr-core-testimonial-content-wrap">
                                <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 15px;">
                                    <p>
                                        Sandeep you are an absolute legend .We cannot thank you enough for making our first home purchase a possibility! Thank you for all your hardwork in making our dreams come true. You helped us at every step of the way . We are forever grateful. Lots of best wishes from me
                                        <br />
                                        #bestmortgageadvisor #highlyrecommened
                                        <br />Thanks ? again
                                    </p>
                                </div>
                                <div class="gdlr-core-testimonial-author-wrap clearfix">
                                    <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                        <img src="../upload/personnel-1-sq-150x150.jpg" alt="" width="150" height="150">
                                    </div>
                                    <div class="gdlr-core-testimonial-author-content">
                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Shera Randhawa & Arishma</div>
                                        @*<div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Co-Founder</div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-testimonial-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                        <div class="gdlr-core-testimonial clearfix">
                            <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">“</div>
                            <div class="gdlr-core-testimonial-content-wrap">
                                <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 15px;">
                                    <p>
                                        Amazing service provided by Sandeep Khanna Mortgages. Sandeep went extra miles to achieve the result we wanted. He was helpful and prompt all the way through. Excellent service and we are pleased we had found Sandeep Khanna Mortgages. Most definitely will spread the word for Sandeep Khanna Mortgages. ?
                                    </p>
                                </div>
                                <div class="gdlr-core-testimonial-author-wrap clearfix">
                                    <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                        <img src="../upload/personnel-1-sq-150x150.jpg" alt="" width="150" height="150">
                                    </div>
                                    <div class="gdlr-core-testimonial-author-content">
                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Ali Deljo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-testimonial-column gdlr-core-item-pdlr gdlr-core-item-mgb  gdlr-core-column-20">
                        <div class="gdlr-core-testimonial clearfix">
                            <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">“</div>
                            <div class="gdlr-core-testimonial-content-wrap">
                                <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 15px;">
                                    <p>
                                        Sandeep has helped us through our journey of purchasing our first home. He has been nothing but professional, responded to queries in a timely manner and has worked very hard for my husband and I to get the best deal. He delivered what he promised and we couldn’t be happier with the service he provided. We highly recommend Sandeep as a mortgage broker.
                                    </p>
                                </div>
                                <div class="gdlr-core-testimonial-author-wrap clearfix">
                                    <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                        <img src="../upload/personnel-1-sq-150x150.jpg" alt="" width="150" height="150">
                                    </div>
                                    <div class="gdlr-core-testimonial-author-content">
                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Erica Gomes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>